* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Inconsolata', sans-serif;
  font-size: 13px;
  color: #333;
  margin-top: 32px; }

ul {
  list-style: none; }

button {
  border: 1px solid #333;
  border-radius: 4px; }
  button:hover {
    background: #CCC; }
